@model SimActivityViewModel


@using (Html.BeginForm("Activities", "Sim", FormMethod.Post, new { id = "performActivity" }))
{
    <div class="form-group margin">
        @Html.LabelFor(p => p.ActivityID)
        @Html.DropDownListFor(p => p.ActivityID, new SelectList(Model.Activities, "ActivityID", "Name"), new { @class = "form-control" })
    </div>

    @Html.HiddenFor(p => p.Sim.SimID)
    @Html.HiddenFor(p => p.Sim.Name)
    @Html.HiddenFor(p => p.Sim.LastName)
    @Html.HiddenFor(p => p.Sim.Gender)
    @Html.HiddenFor(p => p.Sim.Money)
    @Html.HiddenFor(p => p.Sim.LifeStage)


    <button type="submit" class="btn btn-primary">Perform Activity</button>
    <a asp-action="Profile" asp-route-id="@Model.Sim.SimID" class="btn btn-secondary">Cancel</a>
    @if (ViewBag.Message != null)
    {
        @if (ViewBag.Error == true)
        {
            <div class="alert alert-danger alert-dismissible fade show margin" role="alert">
                <strong>Fail!</strong> @ViewBag.Message
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        else
        {
            <div class="alert alert-success alert-dismissible fade show margin" role="alert">
                <strong>Success!</strong> @ViewBag.Message
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    }
    @if (ViewBag.ImprovementMessage != null)
    {
        <div class="alert alert-warning alert-dismissible fade show margin" role="alert">
            <strong>Improvement!</strong> @ViewBag.ImprovementMessage
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

}
